@import './variables.scss';

// CALENDAR 

.calendar {
  position: relative;
  width: 100%;
  background: $neutral-color;
  border: 1px solid $border-color;

  & .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid $border-color;
  }

  & .days {
    text-transform: uppercase;
    font-weight: 400;
    color: $text-color-light;
    font-size: 70%;
    padding: 0.75em 0;
    border-bottom: 1px solid $border-color;
  }
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;

  &:hover {
    transform: scale(1.75);
    transition: 0.25s ease-out;
    color: $primary-color;
  }

  &:first-of-type {
    margin-left: 1em;
  }

  &:last-of-type {
    margin-right: 1em;
  }
}

.calendar .body .cell {
  position: relative;
  height: 7em;
  border-right: 1px solid $border-color;
  overflow: hidden;
  cursor: pointer;
  background: $neutral-color;
  transition: 0.25s ease-out;
  border-bottom: 1px solid $border-color;

  &:hover {
    background: $bg-color;
    transition: 0.5s ease-out;
  }

  & ul {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
  }

  & li {
    color: $primary-color-dark;
  }
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, $primary-color 0%, $primary-color-dark 40%);
  border-image-slice: 1;
  border-bottom: 1px solid $border-color;
}

.calendar .body .row {
  border-bottom: 1px solid $border-color;
  &:last-child {
    border-bottom: none;
  }

  &:last-child {
    border-right: none;
  }
}

.calendar .body .cell .title span {
  color: $text-color;
}

.calendar .body .cell .title {
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
  padding-bottom: 10px;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: $text-color-light;
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: $primary-color;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  overflow-y: hidden;
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
} 