@import './variables.scss';

.header {
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid $border-color;
  background: $neutral-color;

  & .title {
  font-size: 2em;
  text-align: center;
  color: $primary-color;
  line-height: 1;
  }
}

// RESET BTN

.reset-btn {
  position: absolute;
  width: 64px;
  height: 32px;
  cursor: pointer;
  :hover {
    opacity: .7;
  }
}